:javascript
  $(function() {
    $("#dropbox, #multiple").html5Uploader({
      name: "homework_teacher_attachement[attachement]",
      postUrl: '/homeworks/create_teacher_attachement',
    });
  });
  
  function del_student(id) {
    $('#del-a-' + id).remove();
  }
  
  jQuery(document).ready(function(){
    jQuery('#show-students').click(function(){
      
      
      $('#student-list').show();
      
      $('#student-list input:checked').each(function() {
        var value = $(this).attr('value');
        $('#student-current-' + value).remove();
      });
    })
    
    jQuery('#confirm-students').click(function(){
      $('#student-list').hide();
      var selected = new Array();
      $('#student-list input:checked').each(function() {
          // selected.push($(this).attr('value'));
          
          var value = $(this).attr('value');
          var name = $(this).attr('name');
          
          if($("#del-a-" + value).length == 0) {
            var delete_name = "<a href='javascript:' onclick='del_student(" + value + ")'>x</a>";
            var input_string = "<span id='del-a-" + value + "'>" + name + delete_name + "<input type='hidden' value='" + value + "' name='homework[homework_assigns_attributes][][creator_id]' /></span>";
            $('#selected-students').append(input_string);
          }
      });
    })

  });
  

%p= link_to '作业列表', homeworks_path

.page-new
  = flash.now[:error]

= form_for @homework, :url => { :action => "create" }, :html => {:class => "assign_form", :multipart => true} do |f|
  %p 作业标题
  = f.text_field :title
  
  %p 作业内容
  = f.text_area :content, :size => "60x12"
  
  %p 隶属课程
  = f.select :course_id, @courses.collect {|item| [item.name, item.id]}
  
  %p 截止日期
  = f.text_field :deadline
  
  %p 
    选择分配学生
    %a#show-students{:href => "javascript:void(0);"} +
  
  #student-list{:style => "display: none;"}
    -@students.each do |student|
      %div{:id => "student-current-#{student.user_id}"}
        %input{:type=>'checkbox', :value => student.user_id, :name=>"#{student.real_name}"} 
        #{student.real_name}
    
    %input#confirm-students{:name => "confirm_btn", :type => "button", :value => "确定"}/
  
  #selected-students
  
  
  %p 作业附件
  #dropbox
  %input#multiple{:multiple => "", :type => "file", :name => "homework_teacher_attachement[attachement]"}/
  
  %div
    作业提交物
    %p
      %input{:type=>'text', :size=>30, :name=>'homework[homework_student_upload_requirements_attributes][][title]'}
    %p
      %input{:type=>'text', :size=>30, :name=>'homework[homework_student_upload_requirements_attributes][][title]'}
  
  = f.submit "布置作业"
  


     
