:ruby
  student_attachements_count = @homework.homework_student_attachements.count

%p= link_to '作业列表', homeworks_path
%p= link_to '布置新作业', new_homework_path

%div 作业标题
%p= @homework.title

%div 作业内容
%p= @homework.content

%div 截止时间
%p
  = @homework.deadline.strftime("%Y-%m-%d %H:%M:%S")
  - if Time.now < @homework.deadline
    = '未过期'
  - else
    = '已过期'

%div 
  提交物
  = student_attachements_count
  - @homework.homework_teacher_attachements.each do |attachement|
    = attachement.attachement_file_name
  %div
    %a{:href => "to_do"} Zip包全部下载



%div
  - @homework.homework_assigns.each do |h|
    - uploaded_count = h.creator.uploaded_count(@homework)
    %p= h.creator.name
    = uploaded_count
    %span /
    = student_attachements_count
    
    - if uploaded_count == student_attachements_count
      %span 完成
    - else
      %span 未完成
      
    - if h.has_finished
      %span 已签
    - else 
      %span 未签